version: '3'
services:
  app:
    environment:
    - PORT=3201
    build: .
    restart: unless-stopped
    networks:
      - npm_network

  npm:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '192.168.68.81:80:80'   # Forces binding to all host interfaces
      - '192.168.68.81:443:443'
      - '81:81'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      - npm_network

networks:
  npm_network:
