.keyword {
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 32px;
}

.header-content {
    background-image: url('../../images/header-img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px black;
}

.subtitle {
    margin: 0 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
}

.title {
    width: 100%;
    font-size: 2em;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1, h3 {
    color: white;
    text-shadow: 2px 2px 2px black;
}

.letter {
    display: inline-block;
    line-height: 1em;
    transition: top .5s ease;
    text-align: center;
    width: 1em;
    height: 27em;
    position: relative;
}

.letter-ticker {
    height: 1em;
    overflow: hidden;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .keyword {
        font-size: 48px;
    }
    .title {
        font-size: 3em;
    }
    .subtitle {
        font-size: 18px;
        margin: 0 20%;
    }
}

.test {
    border: 1px solid red;
}